################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/retail
/bin/Debug
/obj/Debug
/retail.dbmdl
/retail.jfm
